.featured-item{
    background-image: linear-gradient(to top, rgba(0,0,0,0.3)50%, rgba(0,0,0,0.3)50%),url('../../assets/home/featured.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}